.headerNav {
  background-color: #4f4f4f;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 1rem;
  gap: 2rem;
}
.sectionHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.headerNav .logoNav {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.headerNav .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  gap: 1rem;
}
.btns button {
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  font-size: 12px;
  right: 0;
  flex: auto;
}
.btns span {
  width: 100%;
  text-align: center;
}
.btns:hover span {
  opacity: 0;
}
.btns .btnLogOut {
  transform: translate(-120%);
}
.btns .btnEliminarCuenta {
  transform: translate(10%);
}
.btns:hover .btnLogOut {
  opacity: 1;
  position: absolute;
}
.btns:hover .btnEliminarCuenta {
  opacity: 1;
  position: absolute;
}
