.mainPage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.mainPage h1,
h2 {
  text-align: center;
  text-transform: capitalize;
}
.notasContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
  gap: 2rem;
  padding: 1rem;
}

.notasContainer .btnMostrarCompletadas {
  width: fit-content;
  align-self: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
